## Create a LOKI dataset for ML examples using image descriptors

In [1]:
import pandas as pd

Load original tsv files were exported from ecotaxa. 
Files should be unpacked from zip and converted to UTF-8.

_Original data might be available on request._

In [2]:
st58 = pd.read_csv("../data/loki_ps93-2_58_ecotaxa_export_368_20191016_1142.tsv",sep="\s+")
st58.shape

(47143, 71)

In [3]:
st80 = pd.read_csv("../data/loki_ps93-2_80_ecotaxa_export_362_20191016_1143.tsv",sep="\s+")
st80.shape

(43057, 71)

In [4]:
st82 = pd.read_csv("../data/loki_ps93-2_82_ecotaxa_export_376_20191016_1143.tsv",sep="\s+")
st82.shape

(41689, 71)

Combine in a single dataframe and remove the temporary dataframes

In [5]:
df = st58.append(st80).append(st82)
del st58, st80, st82

/opt/miniconda3/envs/Anaconda-Python3.6/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

### Inspect data

In [6]:
df.shape

(131889, 72)

In [7]:
df.describe()

,acq_id,acq_instrument,object_annotation_date,object_annotation_time,object_area,object_area_px,object_bottom_depth,object_chlorophyll_a,object_conductivity,object_convexity,...,object_speed_in_water,object_speed_over_ground,object_structure,object_temperature,object_temperature_oxsens,object_time,object_width,process_id,sample_dataportal_descriptor,sample_id
count,0.0,0.0,1.072100e+05,107210.000000,131889.000000,1.318890e+05,131889.0,131889.0,131889.000000,131889.000000,...,131889.0,131889.0,1.318890e+05,131889.000000,131889.000000,131889.000000,131889.000000,0.0,0.0,0.0
mean,NaN,NaN,2.017132e+07,145853.744007,1.449231,1.115137e+04,0.0,0.0,30.547115,42.773784,...,0.0,0.0,5.546307e+04,1.868414,1.868414,94841.985306,0.000237,NaN,NaN,NaN
std,NaN,NaN,3.080546e+03,34284.803386,3.945756,3.036131e+04,0.0,0.0,2.162324,63.046487,...,0.0,0.0,1.684383e+05,1.662257,1.662257,108237.053496,0.014628,NaN,NaN,NaN
min,NaN,NaN,2.017033e+07,147.000000,0.012000,9.000000e+01,0.0,0.0,0.002800,0.000000,...,0.0,0.0,9.764569e+01,-1.586000,-1.586000,0.000000,0.000000,NaN,NaN,NaN
25%,NaN,NaN,2.017041e+07,122614.000000,0.141000,1.082000e+03,0.0,0.0,29.808000,10.564158,...,0.0,0.0,3.717976e+03,0.721000,0.721000,1500.000000,0.000000,NaN,NaN,NaN
50%,NaN,NaN,2.017052e+07,143526.000000,0.298000,2.290000e+03,0.0,0.0,30.370000,23.759928,...,0.0,0.0,1.189363e+04,1.392000,1.392000,3200.000000,0.000000,NaN,NaN,NaN
75%,NaN,NaN,2.017061e+07,164950.000000,1.564000,1.203100e+04,0.0,0.0,31.548000,53.607914,...,0.0,0.0,5.396372e+04,2.896000,2.896000,215700.000000,0.000000,NaN,NaN,NaN
max,NaN,NaN,2.019060e+07,235459.000000,185.025000,1.423707e+06,0.0,0.0,34.828000,1790.000000,...,0.0,0.0,6.998445e+06,6.960000,6.960000,235900.000000,1.744000,NaN,NaN,NaN

### Use only validated entries

In [8]:
df = df[df["object_annotation_status"]=="validated"]

In [9]:
df.shape

(107210, 72)

In [10]:
df.describe()

,acq_id,acq_instrument,object_annotation_date,object_annotation_time,object_area,object_area_px,object_bottom_depth,object_chlorophyll_a,object_conductivity,object_convexity,...,object_speed_in_water,object_speed_over_ground,object_structure,object_temperature,object_temperature_oxsens,object_time,object_width,process_id,sample_dataportal_descriptor,sample_id
count,0.0,0.0,1.072100e+05,107210.000000,107210.000000,1.072100e+05,107210.0,107210.0,107210.000000,107210.000000,...,107210.0,107210.0,1.072100e+05,107210.000000,107210.000000,107210.000000,107210.000000,0.0,0.0,0.0
mean,NaN,NaN,2.017132e+07,145853.744007,1.720011,1.323493e+04,0.0,0.0,30.635638,47.266207,...,0.0,0.0,6.582032e+04,1.944157,1.944157,91627.342599,0.000254,NaN,NaN,NaN
std,NaN,NaN,3.080546e+03,34284.803386,4.327322,3.329734e+04,0.0,0.0,2.063504,68.469328,...,0.0,0.0,1.851628e+05,1.721200,1.721200,108061.156003,0.015495,NaN,NaN,NaN
min,NaN,NaN,2.017033e+07,147.000000,0.014000,1.040000e+02,0.0,0.0,0.002800,0.000000,...,0.0,0.0,9.764569e+01,-1.586000,-1.586000,0.000000,0.000000,NaN,NaN,NaN
25%,NaN,NaN,2.017041e+07,122614.000000,0.144000,1.108000e+03,0.0,0.0,29.792000,10.996203,...,0.0,0.0,4.017427e+03,0.709000,0.709000,1400.000000,0.000000,NaN,NaN,NaN
50%,NaN,NaN,2.017052e+07,143526.000000,0.393000,3.024500e+03,0.0,0.0,30.391000,26.237192,...,0.0,0.0,1.740085e+04,1.445000,1.445000,3000.000000,0.000000,NaN,NaN,NaN
75%,NaN,NaN,2.017061e+07,164950.000000,2.026000,1.558775e+04,0.0,0.0,31.673000,61.594619,...,0.0,0.0,6.877720e+04,3.033000,3.033000,215700.000000,0.000000,NaN,NaN,NaN
max,NaN,NaN,2.019060e+07,235459.000000,185.025000,1.423707e+06,0.0,0.0,34.828000,1790.000000,...,0.0,0.0,6.998445e+06,6.960000,6.960000,235900.000000,1.744000,NaN,NaN,NaN

### Take only columns of interest

In [11]:
columns = set([ 'object_annotation_hierarchy', 'object_area','object_area_px', 
        'object_conductivity', 'object_convexity', 'object_dr._haardt_fluorescence_channel_a', 
        'object_form', 'object_fourier_descriptor_01', 'object_fourier_descriptor_02',
        'object_fourier_descriptor_03', 'object_fourier_descriptor_04',
        'object_fourier_descriptor_05', 'object_fourier_descriptor_06',
        'object_fourier_descriptor_07', 'object_fourier_descriptor_08',
        'object_fourier_descriptor_09', 'object_fourier_descriptor_10',
        'object_graymean', 'object_haul', 'object_hu_moment_1',
        'object_hu_moment_2', 'object_hu_moment_3', 'object_hu_moment_4',
        'object_hu_moment_5', 'object_hu_moment_6', 'object_hu_moment_7',
        'object_index', 'object_kurtosis', 'object_lenght', 
        'object_skewness',  'object_structure',
        'object_width'])

Take only those columns

In [12]:
df = df[columns]

In [13]:
df.shape

(107210, 32)

### Take only a subset of taxa

In [14]:
taxonList =set(["Siphonophorae","Polychaeta","Ostracoda","Amphipoda","Poecilostomatoida",
           "Cyclopoida","Calanoida","Naupli","bubble","pellet","egg"])

In [15]:
result = list()
label = list()
for objPath in df.object_annotation_hierarchy:
    taxa = set(objPath.split(">"))
    tmp = taxa.intersection(taxonList)
    result.append(len(tmp)>0)
  #  label.append()
    if (len(tmp)>0):
        label.append(tmp.pop())

In [16]:
df = df[result]
df["taxon"]=label

remove column 'object_annotation_hierarchy'

In [17]:
df = df.drop(columns=['object_annotation_hierarchy'])

df.to_csv("../data/allSamples.csv")

### Inspect dataset

In [18]:
df.groupby("taxon").count()

,object_hu_moment_1,object_skewness,object_dr._haardt_fluorescence_channel_a,object_index,object_hu_moment_4,object_fourier_descriptor_07,object_kurtosis,object_fourier_descriptor_10,object_graymean,object_fourier_descriptor_06,...,object_fourier_descriptor_08,object_area,object_structure,object_width,object_area_px,object_hu_moment_7,object_hu_moment_3,object_fourier_descriptor_01,object_hu_moment_2,object_hu_moment_5
taxon,,,,,,,,,,,,,,,,,,,,,
Amphipoda,194,194,194,194,194,194,194,194,194,194,...,194,194,194,194,194,194,194,194,194,194
Calanoida,42101,42101,42101,42101,42101,42101,42101,42101,42101,42101,...,42101,42101,42101,42101,42101,42101,42101,42101,42101,42101
Cyclopoida,4108,4108,4108,4108,4108,4108,4108,4108,4108,4108,...,4108,4108,4108,4108,4108,4108,4108,4108,4108,4108
Ostracoda,2772,2772,2772,2772,2772,2772,2772,2772,2772,2772,...,2772,2772,2772,2772,2772,2772,2772,2772,2772,2772
Poecilostomatoida,20348,20348,20348,20348,20348,20348,20348,20348,20348,20348,...,20348,20348,20348,20348,20348,20348,20348,20348,20348,20348
Polychaeta,412,412,412,412,412,412,412,412,412,412,...,412,412,412,412,412,412,412,412,412,412
Siphonophorae,333,333,333,333,333,333,333,333,333,333,...,333,333,333,333,333,333,333,333,333,333
bubble,1091,1091,1091,1091,1091,1091,1091,1091,1091,1091,...,1091,1091,1091,1091,1091,1091,1091,1091,1091,1091
egg,870,870,870,870,870,870,870,870,870,870,...,870,870,870,870,870,870,870,870,870,870
pellet,216,216,216,216,216,216,216,216,216,216,...,216,216,216,216,216,216,216,216,216,216

In [19]:
set(df["taxon"])

{'Amphipoda',
 'Calanoida',
 'Cyclopoida',
 'Ostracoda',
 'Poecilostomatoida',
 'Polychaeta',
 'Siphonophorae',
 'bubble',
 'egg',
 'pellet'}

Take a random subsample (because of imbalance bias), e.g. 100, 150, max 194.

In [20]:
randomSubsample194 = pd.DataFrame()
for taxon in taxonList:
    try:
        randomSubsample194 = randomSubsample194.append(df[df["taxon"]==taxon].sample(194))
    except: 
        print(f'Problems with taxon {taxon}')

Problems with taxon Naupli

In [21]:
randomSubsample194.shape

(1940, 32)

In [22]:
randomSubsample194.describe()

,object_hu_moment_1,object_skewness,object_dr._haardt_fluorescence_channel_a,object_index,object_hu_moment_4,object_fourier_descriptor_07,object_kurtosis,object_fourier_descriptor_10,object_graymean,object_fourier_descriptor_06,...,object_fourier_descriptor_08,object_area,object_structure,object_width,object_area_px,object_hu_moment_7,object_hu_moment_3,object_fourier_descriptor_01,object_hu_moment_2,object_hu_moment_5
count,1940.000000,1940.000000,1940.000000,1940.000000,1.940000e+03,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,...,1940.000000,1940.000000,1.940000e+03,1940.000000,1940.000000,1.940000e+03,1.940000e+03,1.940000e+03,1.940000e+03,1.940000e+03
mean,0.314089,2.057216,3.309652,22861.859278,1.124210e-02,5987.312935,4.362359,3361.848228,50.909794,8231.797807,...,4764.906092,2.480096,8.391594e+04,0.000511,19083.607216,-1.103459e-04,1.833558e-02,3.275935e+05,9.123856e-02,4.882275e-03
std,0.205036,0.981169,1.305472,13916.004404,6.780173e-02,19071.180709,5.005514,12865.622873,20.935265,26864.010721,...,17799.212764,5.978930,2.378949e+05,0.022522,46005.954443,5.571791e-03,8.854366e-02,8.004192e+05,3.445103e-01,9.558044e-02
min,0.159282,-0.213897,2.112000,172.000000,3.070000e-12,0.258949,-1.644330,0.240646,14.000000,1.414214,...,0.054550,0.015000,1.270671e+02,0.000000,112.000000,-2.056782e-01,3.310000e-08,6.344181e+03,2.350000e-08,-2.198885e-02
25%,0.198951,1.285803,2.158750,10228.500000,1.130000e-05,58.620011,0.386310,33.889250,34.000000,90.721752,...,50.731584,0.142000,3.480864e+03,0.000000,1094.500000,-4.802500e-08,1.069267e-04,2.698388e+04,7.497438e-03,-6.197500e-16
50%,0.261050,2.022146,2.494000,23068.500000,2.786280e-04,217.651781,3.252919,120.418247,46.000000,306.961471,...,170.418962,0.361000,8.052769e+03,0.000000,2780.500000,2.485000e-18,1.170362e-03,4.920858e+04,3.009888e-02,1.465000e-08
75%,0.343967,2.730349,5.121000,35031.750000,3.515267e-03,2117.748102,6.755998,1071.927307,66.000000,2994.889437,...,1667.575588,1.910750,5.463230e+04,0.000000,14703.750000,3.875000e-08,8.213711e-03,2.046753e+05,7.018951e-02,1.045000e-05
max,3.280619,6.047925,5.121000,47420.000000,1.752102e+00,264862.136600,38.697178,290856.174100,132.000000,397520.989900,...,398180.693100,57.700000,3.401337e+06,0.992000,443986.000000,5.477922e-02,1.961855e+00,7.664478e+06,1.047525e+01,3.247265e+00

randomSubsample194.to_csv("../data/_subsample194.csv")